PORT=xxxxxxxx
MONGO_URI=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
JWT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NODE_ENV=development
CLIENT_URL=xxxxxxxxxxxxxxxxxxxx

# Admin credentials — NOT stored in database
ADMIN_USERNAME=xxxxxxxxxxxxx
ADMIN_PASSWORD=xxxxxxxxxxxxx

